
<form class="layui-form" method="post" id="saveform" name="saveform" action="/index.php?s=/index/parse.html">
<input type="hidden" name="id" id="id" >
<input type="hidden" name="fields" id="fields">
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>提醒：</strong>单选框和复选框，如：<code>{|-</code>选项<code>-|}</code>两边边界是防止误删除控件，程序会把它们替换为空，请不要手动删除！
</div>
<!-- <div class="layui-row">
    <div class="well well-small">
		<span class="pull-right">
		    <a href="http://formdesign.leipi.org/demo.html" class="btn btn-success btn-small">使用实例演示</a>
		</span>
		<p>
	        <button type="button" onclick="leipiFormDesign.exec('text');" class="btn btn-info">文本框</button>
	        <button type="button" onclick="leipiFormDesign.exec('textarea');" class="btn btn-info">多行文本</button>
	        <button type="button" onclick="leipiFormDesign.exec('select');" class="btn btn-info">下拉菜单</button>
	        <button type="button" onclick="leipiFormDesign.exec('radios');" class="btn btn-info">单选框</button>
	        <button type="button" onclick="leipiFormDesign.exec('checkboxs');" class="btn btn-info">复选框</button>
	        <button type="button" onclick="leipiFormDesign.exec('macros');" class="btn btn-info">宏控件</button>
	        <button type="button" onclick="leipiFormDesign.exec('progressbar');" class="btn btn-info">进度条</button>
	        <button type="button" onclick="leipiFormDesign.exec('qrcode');" class="btn btn-info">二维码</button>
	        <button type="button" onclick="leipiFormDesign.exec('listctrl');" class="btn btn-info">列表控件</button>
	        <button type="button" onclick="leipiFormDesign.exec('more');" class="btn btn-primary">一起参与...</button>
		</p>
     </div>
</div> -->
<script id="myFormDesign" type="text/plain" style="width:100%;">
</script>
<script type="text/javascript">
var leipiEditor,leipiFormDesign;
</script>
</form>

