
		<div style="margin: 15px;">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">名称</label>
					<div class="layui-input-block">
						<input type="text" name="formName" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">描述</label>
					<div class="layui-input-block">
						<textarea class="layui-textarea layui-hide" name="formDesc"  id="formDesc_editor"></textarea>
					</div>
				</div>
				<button lay-filter="edit" lay-submit style="display: none;"></button>
			</form>
		</div>