<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.markzhl.admin.mapper.sys.BaseFormMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.github.markzhl.admin.entity.sys.BaseForm">
		<id column="id" property="id" />
		<result column="form_name" property="formName" />
		<result column="form_desc" property="formDesc" />
		<result column="content" property="content" />
		<result column="content_parse" property="contentParse" />
		<result column="content_data" property="contentData" />
		<result column="fields" property="fields" />
		<result column="crt_time" property="crtTime" />
		<result column="crt_user" property="crtUser" />
		<result column="crt_name" property="crtName" />
		<result column="crt_host" property="crtHost" />
		<result column="attr1" property="attr1" />
		<result column="attr2" property="attr2" />
		<result column="attr3" property="attr3" />
		<result column="attr4" property="attr4" />
		<result column="attr5" property="attr5" />
		<result column="attr6" property="attr6" />
		<result column="attr7" property="attr7" />
		<result column="attr8" property="attr8" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, form_name AS formName, form_desc AS formDesc, content, content_parse AS contentParse, content_data AS contentData, fields, crt_time AS crtTime, crt_user AS crtUser, crt_name AS crtName, crt_host AS crtHost, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8
    </sql>

</mapper>
